#home .item {
    color: white;
    background: linear-gradient(to right, #3a7bd5, #3a6073);
}

    #home .item a {
        color: white;
    }

        #home .item a:hover {
            text-decoration: none;
        }

#sidebar {
    background: linear-gradient(to top, #373b44, #4286f4);
}

    #sidebar .sidebar-header {
        background: linear-gradient(to bottom, #373b44, #4286f4);
    }

.pointer-checkbox {
    cursor: pointer;
}

#sidebar ul li a:hover {
    color: #0061ff;
    background: #fff;
}

a[aria-expanded="true"] {
    color: #0061ff;
    background: #fff;
}

a [aria-expanded="true"] {
    color: #0061ff;
    background: #fff;
}

ul ul {
    background: linear-gradient(to top, #373b44, #4286f4);
}

ul ul a {
    background: transparent;
    color: #fff;
}

ul ul a:hover {
    background: #fff !important;
    color: #0061ff !important;
}
.cart-image-area
{
    position: relative;
    width: 136px;
    height: 124px;
}
.cart-image {
    transition: all .3s;
    position: absolute;
    top: 100%;
    opacity: 0;
}
.cart-image-area:hover .cart-image {
    top: 12px;
    opacity: 1;
}

.two-cart-image img
{
    transition: all .3s;
    position: absolute;
    opacity: 0;
}
.two-cart-image img:first-child
{
    left: -100%;
}
.two-cart-image img:last-child {
    left: 100%;
}
.cart-image-area:hover .two-cart-image img
{
    opacity: 1;
}
.cart-image-area:hover .two-cart-image img:first-child {
    left: 12px;
}
.cart-image-area:hover .two-cart-image img:last-child {
    left: 70px;
}