#home .item 
{   
    color: white;
    background: linear-gradient(to right, #3a7bd5, #3a6073);
}
#home .item a
{
    color: white;
}
#home .item a:hover
{
    text-decoration: none;
}
#sidebar {
    background: linear-gradient(to top, #373b44, #4286f4);
}
#sidebar .sidebar-header {
    background: linear-gradient(to bottom, #373b44, #4286f4);
}
.pointer-checkbox {
    cursor: pointer;
}