@model HomeViewModel
@{
    ViewData["Title"] = "Create";
}

<section id="home">
    <div class="container">
        <div class="row pt-3">
            <div class="col-12">
                <h3 class="mb-0 text-center">Transfer Footballer</h3>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-12 d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-warning"><i class="fas fa-long-arrow-alt-left"></i></a>
            </div>
        </div>
        <div class="row py-3">
            <div class="offset-4 col-4 mt-3">
                <div class="form-group team-select">
                    <label asp-for="@Model.Team1Id">Team</label>
                    <select asp-for="@Model.Team1Id" class="custom-select" id="team-select" asp-items="@(new SelectList(Model.Teams, "Id", "Name"))">
                        <option selected disabled value="">Choose</option>
                    </select>
                    <span asp-validation-for="@Model.Team1Id" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row pt-3 team-area" style="display: none">
            
        </div>
    </div>
</section>

